<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> -->
    <title>Document</title>
    <style>
        .container1{
            display: flex; flex-direction: column; justify-content: center; align-items: center;
        }
        .container2{
            display: flex; flex-direction: column; align-items: center; width: 100%; background-color: blue;
        }
        .container3{
            display: flex; flex-direction: column; align-items: flex-start; width: 50%; color: white; background-color: black;
        }
    </style>
</head>
<body>
    <!-- <div class="container1">
        <div style="display: flex; align-items: center; flex-direction: column; width: 100%; padding-top: 25px; padding-bottom: 25px; background-color: royalblue; ">
            <div class="container3">
                <label style="width: 70%; margin-bottom: 5px;">Notifikasi Invoice #505722</label>
                <label>Jatuh Tempo</label>
            </div>
        </div>
        <div class="container2">
            <div class="container3">
                <label>Halo there,</label>
                <label>Email ini merupakan notifikasi bahwa invoice dengan nomor 505722 akan jatuh tempo pada 23/06/2020 (1 hari lagi).</label>
                <label>Mohon segera melakukan pembayaran untuk menghindari interupsi terhadap layanan Anda.</label>
            </div>
        </div> -->
        <h3>Your Account Has Been Registered!</h3>
        <p>{{username_var}}</p>
        <p>{{password_var}}</p>
        <p>{{email_var}}</p>
    <!-- </div> -->
</body>
</html>